.item {
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    height: 200px;
    width: 1300px;
    border-radius: 20px;
    display: flex;
    position: relative;

    .actions {
        padding: 10px;
    }
    .title {
        font-size: 20px;
        align-items: center;
        padding: 15px;
        color: #000;
    }
    .image {
        padding-left: 50px;
        object-fit: cover;
        width: 250px;
    }
    .text {
        padding: 20px 25px 0px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }

    .button {
        position: absolute;
        bottom: 30px;
        left: 25px;
    }
}

@media (max-width: 1499.98px) {
    .item {
        width: 1100px;
    }
}

@media (max-width: 1198.98px) {
    .item {
        width: 900px;
    }
}

@media (max-width: 991.98px) {
    .item {
        width: 700px;
        margin: 20px 5px;
        font-size: 16px;
        .image {
            width: 200px;
        }
    }
}

@media (max-width: 767.98px) {
    .item {
        width: 500px;
        .image {
            width: 0px;
            padding-left: 10px;
            font-size: 18px;
        }
    }
}

@media (max-width: 479.98px) {
    .item {
        width: 350px;
    }
}
