.about {
    margin-bottom: 135px;
    max-width: 1200px;

    .title {
        text-align: center;
        margin: 115px 0 45px;
        color: #fff;
        font-size: 64px;
        font-weight: 700;
        text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .small {
        margin: 60px 0 45px;
        font-size: 32px;
    }
    .info {
        max-width: 900px;
        padding-bottom: 25px;
    }

    .content {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 25px;
    }

    .list {
        padding: 0 30px;
    }
    .paragraph {
        margin-top: 20px;
    }

    .blue {
        color: #6fa0ff;
    }
    .founders {
        display: grid;
        column-gap: 30px;
        row-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        .list {
            li:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
}
