.contacts {
    padding-top: 115px;
    color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;

    .list {
        margin-top: 80px;
        a {
            padding-top: 30px;
            font-size: 32px;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

@media (max-width: 991.98px) {
    .contacts {
        padding-top: 50px;
        padding: 0 10px;
        max-width: none;
        .list {
            margin-top: 30px;
            a {
                font-size: 26px;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .contacts {
        .list {
            a {
                font-size: 18px;
            }
        }
    }
}
