.footer {
    background-color: #272a2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    .social {
    }
    .center {
    }
    .contact {
    }
}
