.header {
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 244px;
    .logo {
        margin-top: 10px;
        border-radius: 50%;
        position: relative;
        img {
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: -10px;
            background-color: #fff;
            width: 303px;
            height: 290px;
            border-radius: 50%;
        }
    }
}
