.newslist {
    margin-top: 150px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 130px;

    .error {
        text-align: center;
        font-size: 30px;
        color: #fff;
    }
}
