.partners {
    padding: 80px 10px 122px;
    background-color: #2c2f33;
    width: 100%;
    .content {
        margin: 0 auto;
        max-width: 1300px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .title {
        max-width: 413px;
        margin: 0 auto;
        text-align: center;
    }
    .banners {
    }
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-bottom: 30px;
    }
    .item {
    }
}

@media (min-width: 1199px) {
    .title {
        img {
            margin-top: 100px;
        }
    }
}

@media (max-width: 1198.98px) {
    .title {
        img {
            margin-top: 50px;
        }
    }
    .partners {
        padding: 50px 10px 90px;
        .item {
            img {
                height: 130px;
                width: 130px;
            }
        }
        .big {
            img {
                width: 290px;
            }
        }
    }
}
@media (max-width: 991.98px) {
    .title {
        img {
            margin-top: 40px;
        }
    }
    .partners {
        padding: 40px 0 60px;
        .title {
            // max-width: 0;
            text-align: center;
        }
        .content {
            max-width: none;
            grid-template-columns: 1fr;
        }
        .items {
            gap: 10px;
            padding-bottom: 10px;
            // flex-direction: column;
        }
        .item {
            img {
                height: 100px;
                width: 100px;
            }
        }
        .big {
            img {
                width: 210px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .partners {
        // padding: 30px 0px 40px 20px;
        .item {
            img {
                height: 80px;
                width: 80px;
            }
        }
        .big {
            img {
                width: 170px;
            }
        }
    }
}
