.sird {
    background:
        url("../public/mainbg1.jpeg"),
        lightgray 50% / cover no-repeat;
    height: 545px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        max-width: 1300px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 247px;
        color: #fff;
        text-shadow: 19px 4px 5px rgba(0, 0, 0, 0.25);
        font-size: 50px;
        font-weight: 700;
        line-height: normal;
    }
}

@media (max-width: 991.98px) {
    .sird {
        height: 400px;
        .title {
            padding-top: 150px;
            font-size: 40px;
        }
    }
}

@media (max-width: 767.98px) {
    .sird {
        height: 300px;
        .title {
            max-width: none;
            padding-top: 100px;
            font-size: 30px;
        }
    }
}
