.Navigation {
    padding-top: 109px;
    .List {
        display: flex;
    }
    .Link {
        color: #263248;
        font-size: 20px;
        font-weight: 900;
        line-height: normal;
        width: 125px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
