.searchBox {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 1300px;
    .select {
        border-radius: 5px;
        padding: 2px;
        &:focus {
            border: 2px solid #417fb6;
            padding: 0px;
        }
    }
    .input {
        border-radius: 5px;
        padding: 10px 10px;
        width: 300px;
        &:focus {
            border: 2px solid #417fb6;
            padding: 8px;
        }
    }
    .button {
        border-radius: 5px;
        background: #4b92d2;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        width: 150px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
        &:visited {
            color: #fff;
        }

        &:hover {
            background: #417fb6;
        }
    }
}

@media (max-width: 1400px) {
    .searchBox {
        width: 860px;
    }
}

@media (max-width: 991.98px) {
    .searchBox {
        width: 725px;
    }
}

@media (max-width: 767.98px) {
    .searchBox {
        width: 100%;
        padding: 10px 5px;
        .input {
            padding: 5px 10px;
            width: 180px;
        }
    }
}

