.list {
    margin-bottom: 200px;
    li:not(:last-child) {
        margin-bottom: 50px;
    }
}

.button {
    border-radius: 5px;
    background: #4b92d2;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    width: 150px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    &:visited {
        color: #fff;
    }

    &:hover {
        background: #417fb6;
    }
}
